@model sistCedro.Models.Prato

@{
    ViewBag.Title = "Create";
}

<h2>CADASTRO DE PRATOS</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Insira os dados do novo Prato</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.IdRestaurante, "Selecione o Restaurante", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdRestaurante", ViewBag.Topico as SelectList)
                @Html.ValidationMessageFor(model => model.IdRestaurante)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nomePrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nomePrato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nomePrato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precoPrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 input-symbol-real">
                @Html.EditorFor(model => model.precoPrato, new { htmlAttributes = new { @class = "form-control input-symbol-real" } })
                @Html.ValidationMessageFor(model => model.precoPrato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
                <input type="submit" value="Salvar" class="btn btn-sucess col-md-offset-0" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
