<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Restaurante</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="masthead">
                <ul class="nav nav-pills">
                    <li>@Html.ActionLink("Início", "Index", "Home", null, new { @class = "btncuston" })</li>
                    <li>@Html.ActionLink("Restaurantes", "Index", "Restaurantes", null, new { @class = "btncuston" })</li>
                    <li>@Html.ActionLink("Pratos", "Index", "Pratoes", null, new { @class = "btncuston" })</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Avaliação Prática .NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
